
.pading15 {
    padding: 15px;
}
.padding20 {
    padding: 20px;
}
.padding25 {
    padding: 25px;
}
.padding30 {
    padding: 30px;
}
.padding35 {
    padding: 35px;
}
.padding40 {
    padding: 40px;
}